<h1><%= object.term %></h1>

<% if object.desc %>
  <p><%= object.desc %></p>
<% end %>

<h2>Attributes</h2>
<dl>
<% object.elements.each_value do |element| %>
  <%= render(element) %>
<% end %>
</dl>

<% if object.sample %>
<h2>Example</h2>
<p>
  <%= object.sample %>
</p>
<% end %>